@import 'helpers/_globals.sass'

.container
  position: relative
  height: 52px

.input
  height: 52px
  padding: 8px
  width: 280px
  font-size: 32px
  background: $light-gray
  border: none
  outline: none
  border-radius: 4px
  color: $black
  font-family: $share-tech
  &::placeholder
    color: $med-gray
  &::focus
    &::placeholder
      color: $black
    &::-webkit-input-placeholder
      color: $black
    &::-moz-placeholder
      color: $black
    &:-ms-input-placeholder
      color: $black
    &:-moz-placeholder
      color: $black

.error
  color: $dark-red
  font-family: $interface
  font-size: 12px
  margin: 4px 0
  position: absolute
